 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1227px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 80px auto 80px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 196px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  width: 613px;
  font-weight: 700;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  background-position: 0% 0%;
  min-height: 414px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 236px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 30px 20px 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-layout-cell-3 {
  background-position: 0% 0%;
  min-height: 414px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 236px;
  margin: 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 30px 20px 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-layout-cell-4 {
  background-position: 0% 0%;
  min-height: 414px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 236px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 30px 20px 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-layout-cell-5 {
  background-position: 0% 0%;
  min-height: 244px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 236px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  margin: 30px 20px 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-layout-cell-6 {
  background-position: 0% 0%;
  min-height: 244px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 236px;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 30px 20px 0;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 244px;
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 236px;
  margin: 0 auto;
}

.u-section-1 .u-text-12 {
  margin: 31px 20px 0;
}

.u-section-1 .u-text-13 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    width: 505px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 195px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-3 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 195px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 195px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-7 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    height: 195px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-9 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-image-5 {
    height: 195px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-11 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-image-6 {
    height: 195px;
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-13 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 164px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 99px;
    margin-left: 137px;
  }

  .u-section-1 .u-image-1 {
    height: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-2 {
    height: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-3 {
    height: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-4 {
    height: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-5 {
    height: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-6 {
    height: 149px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 216px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 335px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 335px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 335px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 335px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 335px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 335px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-image-2 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-image-3 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-image-4 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-image-5 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-image-6 {
    height: 211px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-12 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 6px;
    margin-right: 6px;
  }
}